body {
  /* font-family: 'Poppins', sans-serif; */
  margin: 0;
}

a:link {
  text-decoration: none;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 40px 45px;
}

.header h1 span {
  color: skyblue;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.avatar {
  display:block;
  margin: auto;
  margin-top: 1.5em;
  width: 180px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #333;

}

/* Grid CSS */
#heroGrid {
  margin: 10px 5%;
  display: grid;
  min-height: 500px;
  height: 60vh;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas:
  "featuredWork"
  "featuredWork";
}

#featuredWork {
  grid-area: featuredWork;
  border: solid black;
  background-image: url("../images/work-feature.jpg");
}

#heroOverlay {
  background-color: black;
  place-self: center start;
  top: 100px;
  padding: 25px;
  max-width: 800px;
  z-index: 100;
  color: white;
}

#heroOverlay h2 {
  color: white;
}

#headline-work-small {
  color: white;
  background-color: black;
  width: 150px;
  padding-left: 25px;
  margin-bottom: 60px;
  z-index: 100;
}

#headline-work-small h4 {
color: white;
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

.subHeading {
  text-align: left;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px 60px;
}

.subHeading-p {
  text-align: left;
  margin: 50px 60px;
}

#workGrid {
  margin: 0px 5%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "css ux"
  "javascript api"
  ;
}

#css, #ux, #javascript, #api {
  line-height: 0.8em;
  height: 250px;
  border: solid black;
}

#css {
  grid-area: css;
  background-image: url("../images/work-css.jpg");
}

#ux {
  grid-area: ux;
  background-image: url("../images/work-ux.jpg");
}

#javascript {
  grid-area: javascript;
  background-image: url("../images/work-js.jpg");
}

#api {
  grid-area: api;
  background-image: url("../images/work-api.jpg");
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

/* Navigation */
/* s */

/* Typography CSS */
h1, h2, h3, h4 {
  color: black;
}
h1 {
  font-size: 40px;
  margin: 0px 0px;
}

h2 {
  font-size: 60px;
  margin: 0px 0px;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  font-weight: 400;
  font-size: 22px;
}

#btn-send {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Footer */
footer {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 40px 45px;
  text-align: center;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  .header h1{
    padding:0;
  }
  .header-right {
    float: center;
    width: 100%;
  }
  #heroOverlay {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredWork" 
    "featuredWork"
    ;
  }
  #workGrid {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 100%;
    grid-template-areas:
      "css"
      "ux"
      "javascript"
      "api"
    ;
  }
  #web-dev {
    display:flex;
    margin: 0 auto;
    margin-top: 10px;
  }
}
